.wrapComponent {
  @apply mt-4
  md:mt-0
  lg:py-7 
  lg:pl-6 
  lg:pr-4 
  lg:border-2 
  rounded-lg 
  border-light_blue;
}

.wrapTitle {
  @apply flex justify-between;
}

.title {
  @apply font-robotoSerif
  text-size_28 
  font-weight_500 
  leading-line_height_17;
}

.icon {
  @apply text-gray_our;
}

.buttonClean:hover .icon {
  @apply text-blue_action;
}

.wrapProduct {
  @apply mt-5   
  text-black
  flex flex-col gap-5
  max-h-[100%]
  lg:max-h-[480px]
  overflow-y-auto;
}

.wrapDelivery {
  @apply mt-6 
  flex 
  flex-col
  gap-4
  md:flex-row
  justify-between 
  
  text-size_14
  font-weight_300
  leading-line_height_29;
}

.wrapTotal {
  @apply mt-4
  md:mt-7
  flex 
  justify-start
  items-center
  gap-2
  md:justify-between
  
  text-size_24
  font-weight_600
  leading-line_height_17
  
  md:text-size_14
  md:font-weight_300
  md:leading-line_height_29;
}

.textAccent {
  @apply text-size_16
  font-weight_500
  leading-line_height_20;
}

.textAccentTotal {
  @apply text-size_24
  font-weight_600
  leading-line_height_17
  md:text-size_16
  md:font-weight_500
  md:leading-line_height_20;
}
