.wrapContent {
  @apply flex 
  gap-3
  md:gap-6   
  flex-col
  
  lg:data-[reverse=false]:flex-row
  lg:data-[reverse=true]:flex-row-reverse;
}

.wrapContent .wrapText {
  @apply overflow-hidden 
  flex flex-col justify-center;
}

.wrapImage {
  @apply overflow-hidden;
}

.image {
  @apply w-full;
}
