.wrapCart {
  @apply pt-3 
  pr-24 
  pb-9 
  pl-7
  text-text_black;
}

.wrapTitle {
  @apply flex justify-between;
}

.title {
  @apply text-title_section
  font-title_section 
  leading-title_section;
}

.wrapProduct {
  @apply mt-8 
  pr-5
  max-h-[360px]
  text-text_gray 
  flex flex-col gap-4
  overflow-y-auto;
}

.wrapTotalSum {
  @apply mt-16 
  text-right
  text-text_sum_order
  font-text_sum_order
  leading-text_sum_order;
}

.wrapButton {
  @apply flex gap-3 justify-between
  mt-20  
  text-text_gray
  text-type_add_info
  font-type_add_info
  leading-type_add_info;
}

.buttonBack {
  @apply flex gap-3 
  py-3
  transition
  hover:text-action_color;
}

.iconBack {
  @apply text-icon_back_color transition;
}

.buttonBack:hover .iconBack {
  @apply text-action_color;
}

.wrapButton .buttonAccept {
  @apply block 
  py-3
  px-5
  rounded-lg 
  bg-button_dark_background
  text-white
  transition
  hover:text-action_color
  hover:shadow-lg;
}

.buttonClean {
  @apply p-2;
}

.icon {
  @apply text-icon_back_color transition;
}

.buttonClean:hover .icon {
  @apply text-action_color;
}
