.wrapCart {
  @apply py-8
  px-10
  text-text_black;
}

.wrapTitle {
  @apply flex justify-between;
}

.title {
  @apply ml-2
  font-robotoSerif
  text-size_32  
  font-weight_400
  leading-line_height_17;
}

.wrapProduct {
  @apply mt-8 
  
  max-h-[360px]
  text-text_gray 
  flex flex-col gap-4
  overflow-y-auto;
}

.wrapTotalSum {
  @apply mt-6 
  text-right
  font-roboto
  text-size_24  
  font-weight_500
  leading-line_height_17;
}

.wrapButton {
  @apply flex gap-3 justify-between
  mt-20
  pl-11
  pr-11
  
  font-inter
  text-size_20  
  font-weight_300
  leading-line_height_21;
}

.buttonBack {
  @apply flex gap-3 
  py-3
  text-black
  transition
  hover:text-action_color;
}

.iconBack {
  @apply transition;
}

.buttonBack:hover .iconBack {
  @apply text-action_color;
}

.wrapButton .buttonAccept {
  @apply block 
  py-3
  px-5
  
  rounded-lg 
  bg-blue_action
  text-white
  transition
  hover:bg-blue_action_button
  hover:shadow-lg;
}

.buttonClean {
  @apply p-2;
}

.icon {
  @apply text-icon_back_color transition;
}

.buttonClean:hover .icon {
  @apply text-action_color;
}
