.wrapWindow {
  @apply py-5
  md:py-10
  
  px-5
  md:px-[230px]
  
  flex 
  flex-col
  items-center
  bg-dark_blue;
}

.title {
  @apply text-text_white
  font-inter 
  text-size_32
  font-weight_600
  leading-line_height_12;
}

.button {
  @apply mt-10
  py-6 
  px-32
  border 
  border-gray_our
  rounded-lg
  transition
  hover:border-blue_action;
}
