.wrapTitle {
  @apply w-full
  md:w-[713px];
}

.title {
  @apply font-robotoSerif
  text-size_22  
  md:text-size_32

  font-weight_600
  leading-line_height_60;
}

.wrapComponent {
  @apply flex 
  flex-col-reverse
  mt-4
  md:mt-2

  lg:flex-row
  gap-6
  lg:gap-11;
}

.wrapContactInformation {
  @apply w-full
  lg:w-[693px]
  lg:min-w-[693px]
  pt-0
  md:pt-7;
}

.wrapProducts {
  /* @apply w-[503px]; grow */
}
