.titleCategory {
  @apply text-black
  font-inter
  text-size_20
  font-weight_600
  leading-line_height_15;
}

.listCategory {
  @apply mt-4 ml-3 flex flex-col gap-3 items-stretch;
}

.buttonCategory {
  @apply px-4 
  py-2
  w-full 
  text-center

  text-black
  font-inter
  text-size_18
  font-weight_400
  leading-line_height_21

  border
  rounded-lg
  border-dark_blue
  transition
  
  
  hover:text-blue_action_button
  hover:border-blue_action_button
  focus:text-blue_action_button
  focus:border-blue_action_button
  hover:shadow-lg
  
  data-[active=true]:bg-light_blue;
}
