.titleCategory {
  @apply text-black
  font-inter
  text-size_20
  font-weight_600
  leading-line_height_15
  
  pl-32
  lg:pl-0;
}

.listCategory {
  @apply mt-4 ml-3 flex flex-col gap-3 items-stretch;
}

.buttonCategory {
  @apply px-4 
  py-3
  w-full 
  text-center

  text-black
  font-inter
  text-size_18
  font-weight_400
  leading-line_height_21

  border-2
  rounded-lg
  border-light_blue
  transition

  hover:bg-light_blue
  focus:bg-light_blue
  /* hover:shadow-lg */
  
  data-[active=true]:bg-light_blue;
}
