.wrapComponent {
  @apply flex flex-col 
  py-12 
  px-2
  md:px-24
  max-h-screen
  overflow-y-scroll;
}

.title {
  @apply font-robotoSerif
  text-size_32
  font-weight_400
  leading-line_height_17;
}

.form {
  @apply flex flex-col gap-4
  mt-6
  max-w-[358px]
  md:max-w-[608px];
}

.wrapContactInformation {
  @apply flex 
  flex-col
  md:flex-row
  gap-4
  md:gap-9;
}
.wrapField {
  @apply flex flex-col gap-2;
}

.field {
  @apply ml-3;
}

.fieldTextArea {
  @apply ml-3 h-52;
}

.wrapButton {
  @apply flex 
  flex-col-reverse
  md:flex-row

  mt-6
  md:mt-0
  
  justify-end 
  gap-4
  md:gap-20;
}

.button {
  @apply px-4 py-4 
  w-full
  border 
  rounded-lg
  font-inter
  text-size_18
  font-weight_500
  leading-line_height_21
  transition
  bg-blue_action
  text-white
  hover:bg-blue_action_button
  /* hover:shadow-lg; */;
}

/* .button:hover {
  @apply shadow-lg shadow-gray-500/80;
} */

.buttonWhite {
  @apply px-4 py-4 
  w-full
  border 
  rounded-lg
  font-inter
  text-size_18
  font-weight_300
  leading-line_height_21
  transition
  hover:text-blue_action_button
  hover:border-blue_action
  /* hover:shadow-lg; */;
}
