.wrapCardProduct {
  @apply flex flex-col
  relative;
}

.wrapProduct {
  @apply relative
  flex gap-3 
  w-full
  items-start
  font-roboto
  text-size_20  
  font-weight_300
  leading-line_height_17;
}

.wrapImage {
  @apply block 
  max-w-[173px]
  sm:w-[173px]
  sm:min-w-[173px]
  
  md:w-[127px] 
  md:min-w-[127px];
}

.buttonImage {
  @apply w-full;
}

.image {
  @apply w-full  
  h-auto 
  object-contain;
}

.wrapTitle {
  @apply flex justify-between items-baseline
  pt-3
  md:pt-0;
}

.title {
  @apply text-left
  font-inter
  text-size_18  
  font-weight_700
  leading-line_height_21;
}

.wrapLanguage {
  @apply mt-4
  flex gap-2 items-center;
}

.wrapContent {
  @apply grow h-full
  items-start
  py-2;
}

.wrapInformation {
  @apply flex items-start;
}

.wrapInformationProduct {
  @apply grow;
}

.wrapDetails {
  @apply hidden
  md:flex justify-between
  mt-4 gap-2
  grow;
}

.totalSum {
  @apply font-weight_500;
}

.buttonDelete {
  /* @apply absolute top-2 right-1 p-1; */
  @apply absolute 
  top-0 right-2
  md:relative
  p-1;
}

.icon {
  @apply text-gray_our;
}

.buttonDelete:hover .icon {
  @apply text-blue_action;
}

.wrapDetailsMobile {
  @apply mt-2
  block
  md:hidden;
}

.wrapCountMobile {
  @apply flex gap-3;
}
