/* Large image */
.mySwiperReviews.swiper {
  height: 100%;
  width: 100%;

  box-sizing: border-box;
  overflow: visible;
}

.mySwiperReviews .swiper-slide {
  text-align: center;
  font-size: 18px;
  height: auto;

  background-size: cover;
  background-position: center;
}
.mySwiperReviews .swiper-zoom-container {
  display: flex;
  justify-content: start;
  align-items: start;
}

.mySwiperReviews .swiper-pagination {
  position: relative;
  margin-top: 16px;
}
