.wrapButton {
  @apply flex 
  flex-col-reverse
  md:flex-row
  items-center
  md:justify-between

  gap-6
  mt-6
  pb-2
  text-size_18
  font-weight_300
  leading-line_height_20;
}

.wrapButton .buttonCheckout {
  @apply px-8
  py-3
  min-w-[264px]
  w-full
  md:w-fit
  rounded-lg 

  bg-blue_action
  text-white  
  hover:bg-blue_action_button
  /* hover:shadow-gray-500/80
  hover:shadow-lg   */

  transition;
}

.buttonBack {
  @apply flex gap-3 
  w-full
  md:w-fit
  
  items-center
  justify-center

  py-3
  text-dark_blue
  hover:text-blue_action
  transition;
}

.iconBack {
  @apply text-dark_blue;
}

.buttonBack:hover .iconBack {
  @apply text-blue_action
  transition;
}
