.wrapButton {
  @apply flex justify-between
  mt-6
  pb-2
  text-type_add_info
  font-type_add_info
  leading-type_add_info;
}

.wrapButton .buttonCheckout {
  @apply px-8
  py-3
  min-w-[264px]
  rounded-lg 
  bg-blue_action
  text-white  
  hover:bg-blue_action_button
  hover:shadow-gray-500/80
  hover:shadow-lg  

  transition;
}

.buttonBack {
  @apply flex gap-3 
  py-3
  text-dark_blue
  hover:text-blue_action
  transition;
}

.iconBack {
  @apply text-dark_blue;
}

.buttonBack:hover .iconBack {
  @apply text-blue_action
  transition;
}
