.wrapButton {
  @apply flex 
  flex-col-reverse
  md:flex-row
  items-center
  md:justify-between

  gap-6
  mt-6
  pb-2;
}

.wrapButton .buttonCheckout {
  @apply px-8
  py-3
  min-w-[264px]
  w-full
  md:w-fit
  rounded-lg 

  bg-blue_action
  text-white  
  hover:bg-blue_action_button
  

  transition
  font-inter
  text-size_18
  font-weight_500
  leading-line_height_21;
}

.wrapButton .buttonBack {
  @apply flex gap-3 
  w-full
  md:w-fit
  
  items-center
  justify-center

  py-3
  text-dark_blue
  hover:text-blue_action
  transition
  
  font-inter
  text-size_20
  font-weight_500
  leading-line_height_21;
}

.iconBack {
  @apply text-dark_blue
  w-8
  h-8
  md:w-6
  md:h-6;
}

.buttonBack:hover .iconBack {
  @apply text-blue_action
  transition;
}
