.wrapCard {
  @apply relative  
  w-full
  md:w-[232px]  
  lg:w-[292px]  

  overflow-hidden;
}

.wrapCard:hover {
  @apply overflow-visible;
}

.card {
  @apply relative
  flex flex-col   
  w-full 
  max-h-full
  
  h-[420px]
  min-h-[420px] 
  
  md:h-[550px] 
  md:min-h-[550px] 
  
  text-left
  rounded-xl
  transition  
  hover:shadow-lg 
  hover:shadow-gray-500/80;
}

.wrapTop {
  @apply relative  
  h-[211px]
  min-h-[211px]

  md:h-[340px]
  md:min-h-[340px];
}

.wrapBottom {
  @apply flex 
  flex-col justify-between
  p-2
  
  md:pt-6
  md:pb-5
  md:px-2

  grow
  font-robotoSerif
  text-size_14 
  font-weight_400
  leading-line_height_17;
}

.image {
  @apply h-[211px]
  md:h-80 
  w-auto 
  ml-auto 
  mr-auto 
  object-contain  
  rounded-t-lg;
}

.wrapFlag {
  @apply absolute
  -bottom-1
  lg:-bottom-3
  right-2
  md:right-6;
}

.title {
  @apply text-left
  font-inter
  text-size_16 
  lg:text-size_20 
  font-weight_600
  leading-line_height_21;
}

.information {
  @apply overflow-y-auto mt-1;
}

.appearInformation {
  @apply hidden;
}

.card:hover .appearInformation {
  @apply block;
}

.wrapImage {
  @apply relative;
}

.addFavorite {
  @apply absolute 
  p-1
  rounded-md
  bg-button_background_favorite
  block
  top-1
  right-1
  z-10;
}

.isAvailable {
  @apply text-green_main;
}

.isNoAvailable {
  @apply text-light_gray;
}

.typeProduct {
  @apply mt-4
  hidden
  md:block
  text-gray_our;
}

.price {
  @apply font-inter
  text-size_20 
  font-weight_600
  md:font-weight_600
  leading-line_height_21;
}

.wrapPriceMobile {
  @apply block
  md:hidden
  mb-3;
}

.wrapPrice {
  @apply mt-4
  hidden
  md:flex 
  justify-between
  items-center;
}

.wrapButtonMobile {
  @apply block
  md:hidden;
}
