.button {
  @apply flex gap-3
  px-5
  py-3 
  border 
  border-white

  font-roboto 
  text-size_20 
  font-weight_300 
  leading-line_height_15

  
  hover:shadow-lg
  hover:border-blue_action
  hover:rounded-lg;
}
