.listTypesInfo {
  @apply block    
    w-full
    md:w-[700px]

    font-inter 
    text-size_16 
    font-weight_400 
    leading-line_height_21;
}

.elementCard {
  @apply min-w-[157px]
  /* max-w-[157px]; */;
}

.typeInfo {
  @apply px-3
  /* min-w-full */
  min-w-[157px]
  sm:min-w-[157px]

  h-[50px]
  
  
  border 
  rounded-lg 
  transition
  border-light_blue  
  data-[active=true]:bg-light_blue
  hover:bg-light_blue;
}

.linkInfo {
  @apply h-full w-full flex items-center justify-center;
}
