.wrapTitle {
  @apply px-6 py-3
  border-b
  border-gray_our;
}

.title {
  @apply text-title_checkout
  font-title_checkout
  leading-title_checkout;
}

.wrapContactInfo {
  @apply mt-6;
}

.titleSecond {
  @apply text-title_second
  font-title_second
  leading-title_second;
}

.form {
  @apply mt-6;
}

.wrapContacts {
  @apply flex flex-col gap-3
  text-text_user_info
  font-text_user_info
  leading-text_user_info;
}

.wrapDelivery {
  @apply mt-5
  flex flex-col gap-3
  text-text_user_info
  font-text_user_info
  leading-text_user_info;
}

.lineContacts {
  @apply flex gap-12 w-full justify-between 
  min-h-[80px];
}

.inputFields {
  @apply flex flex-col w-[320px];
}

.input {
  @apply px-4 py-3
  border 
  border-light_gray
  rounded-md;
}

.wrapButton {
  @apply flex justify-between
  mt-6
  pb-2
  text-type_add_info
  font-type_add_info
  leading-type_add_info;
}

.wrapButton .buttonCheckout {
  @apply px-8
  py-3
  min-w-[264px]
  rounded-lg 
  bg-blue_action
  text-white  
  hover:bg-blue_action_button
  hover:shadow-gray-500/80
  hover:shadow-lg  

  transition;
}

.buttonBack {
  @apply flex gap-3 
  py-3
  text-dark_blue
  hover:text-blue_action
  transition;
}

.iconBack {
  @apply text-dark_blue;
}

.buttonBack:hover .iconBack {
  @apply text-blue_action
  transition;
}
