.wrapInformation {
  @apply md:grid 
  md:grid-cols-2 
  md:h-[500px]
 
  max-md:flex
  max-md:flex-col
  max-md:gap-2;

  /* outline outline-1 outline-orange-700; */
}

.wrapImage {
  @apply px-2 flex items-center overflow-hidden;
}

.wrapProductInformation {
  @apply px-2;
}

.title {
  @apply text-xl font-medium;
}

.image {
  @apply max-h-[500px] max-w-[100%] ml-auto mr-auto object-contain;
}
