.wrapInformation {
  @apply flex
  flex-col
  md:flex-row gap-6;
}

.wrapImage {
  @apply px-2 
  mx-auto
  md:mx-0

  flex items-start 
  overflow-hidden
  w-[320px]
  md:w-[397px];
}

.wrapProductInformation {
  @apply px-2 
  hidden
  md:flex flex-col;
}

.wrapProductInformationMobile {
  @apply md:hidden;
}

.wrapProductInformationButtonMobile {
  @apply md:hidden;
}

.image {
  @apply max-h-[278px] 
  md:max-h-[500px] 
  max-w-[100%] 
  ml-auto 
  mr-auto 
  object-contain;
}

.title {
  @apply font-robotoSerif 
  text-size_28  
  md:text-size_32 
    font-weight_500
    leading-line_height_16;
}

.wrapRatingCode {
  @apply flex 
  flex-wrap
  gap-x-16
  gap-y-3
  justify-between
  md:justify-start 
  items-center
  mt-4  
  text-gray_our
  font-inter 
  text-size_14
  font-weight_400
  leading-line_height_21;
}

.wrapRating {
  @apply flex 
  mr-4
  gap-[75px]
  md:gap-16 
  items-center;
}

.countReviews {
  @apply flex 
  gap-1
  items-center
   font-inter 
  text-size_14
  font-weight_400
  leading-line_height_21
  hover:text-blue_action;
}

.wrapTypeProduct {
  @apply mt-4;
}

.wrapLanguages {
  @apply flex 
  gap-2
  md:gap-3 
  items-center
  mt-4
  md:mt-6;
}

.price {
  @apply mt-4
  md:mt-6
  font-inter
  text-size_32
  font-weight_500
  leading-line_height_21;
}
.currency {
  @apply text-size_32;
}

.wrapAvailable {
  @apply mt-6

  font-inter
  text-size_14
  font-weight_400
  leading-line_height_21
  text-light_gray;
}

.isAvailable {
  @apply text-green_main;
}

.wrapButton {
  @apply flex 
  mt-4
  md:mt-6
  gap-4
  md:gap-6;
}

.buttonCart {
  @apply md:w-[155px]
  md:grow-0
  grow;
}

.wrapGeneralInformation {
  @apply grow
  flex 
  flex-col 
  justify-start 
  gap-6
  mt-6
  font-inter
  text-size_14
  font-weight_300
  leading-line_height_17;
}

.generalInformation {
  @apply flex 
  gap-4
  md:gap-3
  items-center;
}

.iconGeneralInformation {
  @apply w-6
  h-6
  min-w-[24px]
  min-h-[24px];
}
