.wrapReview {
  @apply w-full  flex flex-col gap-6;
}

.wrapReviewWithReply {
  @apply w-full 
  py-3
  lg:p-6
  flex
  flex-col
  lg:flex-row
  gap-6
  text-size_14
  font-weight_300
  leading-line_height_29
  bg-blue_100
  border
  border-blue_100
  rounded-lg;
}

.wrapContentWithModerator {
  @apply w-full;
}

.wrapContentWithImage {
  @apply flex grow
  gap-2
  md:gap-6;
}

.wrapContent {
  @apply grow flex flex-col 
  gap-3
  md:gap-6
  font-inter 
  text-size_14 
  font-weight_300 
  leading-line_height_29
  text-left;
}

.content {
  @apply font-inter 
  text-size_14 
  md:text-size_18 
  font-weight_300 
  leading-line_height_31;
}

.wrapProduct {
  @apply w-20
  md:w-[187px] min-w-max;
}

.wrapRatingDesktop {
  @apply hidden
 lg:block;
}

.wrapRatingMobile {
  @apply block  
 lg:hidden
 mb-1;
}

.wrapUser {
  @apply flex  
  gap-6
  lg:gap-2 
  lg:flex-col
  items-center
  lg:w-[116px] 
  lg:min-w-[116px];
}

.userName {
  @apply block 
  w-full 
  text-left
  lg:text-center 
  overflow-hidden
  mb-2
  
  font-inter 
  text-size_14 
  font-weight_400 
  leading-line_height_28;
}

.data {
  @apply text-left
  lg:text-center
  font-roboto
  text-size_14 
  font-weight_300
  leading-line_height_28;
}

.titleField {
  @apply font-inter 
  text-size_18 
  font-weight_500 
  leading-line_height_31;
}

.wrapImgPerson {
  @apply rounded-[50%]
  overflow-hidden
  w-16
  h-16
  md:w-20
  md:h-20;
}

.image {
  @apply block
  border
  rounded-lg
  border-blue_100
  w-16
  h-16
  md:w-20
  md:h-20;
}

.imageProduct {
  @apply block
  border
  rounded-lg
  border-blue_100
  w-20
  
  md:w-[187px];
}

.buttonDelete {
  @apply hidden
  md:flex items-center
  text-gray_our;
}
