.container {
  @apply mx-auto 
  px-3 
  w-full 
  flex 
  flex-col 
  lg:max-w-screen-lg 
  md:max-w-screen-md 
  sm:max-w-screen-sm 
  
  lg:px-[100px] 
  md:px-5
  sm:px-5;
}

.wrapBody {
  @apply flex 
  flex-col  
  justify-between 
  min-h-screen
  relative;
}

.header {
  @apply fixed
  bg-dark_blue
  w-full
  z-30;
}

.wrapMain {
  @apply flex-grow h-full  
  mt-[102px]
  md:mt-[110px];
  /* 86+24 */
}

.wrapFooter {
  @apply mt-10
  md:mt-20 bg-dark_blue;
}
