.container {
  @apply mx-auto 
  px-3 
  w-full 
  flex 
  flex-col 
  lg:max-w-screen-lg 
  md:max-w-screen-md 
  sm:max-w-screen-sm 
  
  lg:px-[100px] 
  md:px-5
  sm:px-5;
}

.header {
  @apply bg-dark_blue;
}

.wrapBody {
  @apply flex 
  flex-col  
  justify-between 
  min-h-screen;
}

.wrapMain {
  @apply flex-grow h-full  mt-6;
}

.wrapFooter {
  @apply mt-10
  md:mt-20 bg-dark_blue;
}
