.wrapContent {
  @apply flex 
  flex-col-reverse
  md:flex-row
  justify-end 
  md:mt-10;
}

.wrapLeft {
  @apply mt-10
  pr-0
  md:pr-16
  lg:pr-28
  text-center;
}

.title {
  @apply font-itim
  text-size_150
  md:text-size_200
  lg:text-size_250
  font-weight_400
  leading-line_height_10;
}

.text {
  @apply mt-3
  w-full
  md:w-[370px]
  font-inter
  text-size_17
  md:text-size_18
  font-weight_500
  leading-line_height_21;
}

.button {
  @apply mt-8
  w-full
  md:w-fit
  block 
  py-3
  px-8  
  rounded-lg 
  bg-blue_action
  text-white
  transition
  hover:bg-blue_action_button;
}

.image {
  @apply w-full
  md:w-[300px]
  lg:w-[463px];
}
