.wrap {
  @apply flex;
}

.wrapHomePage {
  @apply w-full flex gap-6;
}

.wrapFilter {
  @apply w-[292px] min-w-[292px];
}

.wrapContent {
  @apply flex-grow;
}

.imageHero {
  @apply w-full max-w-[924px];
}

.sectionTypeGames {
  @apply mt-6;
}

.section {
  @apply mt-12;
}

.wrapSwiper {
  @apply mt-8  
  w-full 
  sm:max-w-screen-sm 
  md:max-w-screen-md 
  lg:max-w-[924px];
}

.wrapReviews {
  @apply mt-4;
}

.titleSection {
  @apply font-robotoSerif
  text-size_32
  font-weight_500
  leading-line_height_17;
}
