.wrapCardProduct {
  @apply w-full 
  overflow-hidden;
}

.wrapProduct {
  @apply relative
  flex gap-4 
  w-full  
  items-start;
}

.wrapImage {
  @apply block 
  max-w-[173px]
  sm:w-[173px]
  sm:min-w-[173px]
  
  md:w-[187px]
  md:max-w-[187px]
  md:min-w-[187px];
}
.buttonImage {
  @apply block w-full;
}
.image {
  @apply h-auto object-contain;
}

.wrapContent {
  @apply grow 
  h-full
  md:py-8
  
  font-inter
  text-size_20  
  font-weight_400
  leading-line_height_17;
}

.wrapTitle {
  @apply flex justify-between items-baseline;
}

.title {
  @apply text-left

  font-inter
  text-size_20  
  font-weight_500
  leading-line_height_21;
}

.wrapChangeLanguage {
  @apply max-w-[100px]
  mt-4;
}

.wrapInformation {
  @apply grow
  mt-4
  md:mt-6;
}

.wrapInformationMobile {
  @apply mt-4
  
  block
  md:hidden;
}

.wrapDetails {
  @apply hidden
  md:flex 
  gap-20
  items-center;
}

.wrapPrice {
  @apply flex 
  gap-4
  lg:gap-16 
  justify-between
  items-center
  
  grow;
}

.totalSum {
  @apply text-size_18  
  md:text-size_20   
  font-weight_500;
}

.buttonDelete {
  @apply /* absolute top-0 right-2 */
  
  p-1;
}

.icon {
  @apply text-black;
}

.buttonDelete:hover .icon {
  @apply text-blue_action;
}

.wrapCountProductMobile {
  @apply mt-6
  flex 
  justify-between
  md:hidden
  gap-6
  items-center;
}
