.wrapProduct {
  @apply relative
  flex gap-6 
  w-full  
  items-center
  /* border
  rounded-lg
  border-inherit
  hover:border
  hover:border-gray_our
  hover:rounded-lg; */;
}

.wrapImage {
  @apply block w-[127px];
}

.image {
  @apply w-auto object-contain;
}

.wrapContent {
  @apply grow h-full
  py-8;
}

.wrapTitle {
  @apply flex justify-between items-baseline;
}

.title {
  @apply font-inter
  text-size_18  
  font-weight_700
  leading-line_height_21;
}

.wrapChangeLanguage {
  @apply flex gap-2 items-center
  mt-4
  font-roboto
  text-size_20  
  font-weight_300
  leading-line_height_17;
}

.wrapDetails {
  @apply flex 
  gap-5
  mt-4  
  items-center
  font-roboto
  text-size_20  
  font-weight_300
  leading-line_height_17;
}

.wrapInformation {
  @apply grow;
}

.wrapPrice {
  @apply flex 
  gap-16 
  justify-between
  items-center
  mt-4
  grow;
}

.totalSum {
  @apply font-weight_500;
}

.buttonDelete {
  /* @apply absolute top-2 right-1 p-1; */
  @apply p-1;
}

.icon {
  @apply text-icon_back_color;
}

.buttonDelete:hover .icon {
  @apply text-action_color;
}
