.wrapCardProduct {
  @apply w-full 
  overflow-hidden;
}

.wrapProduct {
  @apply relative
  flex gap-4 
  w-full  
  items-center;
}

.wrapImage {
  @apply block 
  max-w-[173px]
  sm:w-[173px]
  sm:min-w-[173px]
  
  md:w-[187px]
  md:max-w-[187px]
  md:min-w-[187px];
}
.buttonImage {
  @apply block w-full;
}
.image {
  @apply h-auto object-contain;
}

.wrapContent {
  @apply grow 
  h-full
  md:mt-7
  md:py-8;
}

.wrapTitle {
  @apply flex justify-between items-baseline
  /* w-[400px]
  lg:w-[715px]; */;
}

.title {
  @apply text-left
  font-inter
  
  text-size_18  
  font-weight_700
  leading-line_height_21;
}

.wrapChangeLanguage {
  @apply flex gap-2 items-center
  mt-4
  font-roboto
  text-size_20  
  font-weight_300
  leading-line_height_17;
}

.wrapInformation {
  @apply grow
  mt-4
  hidden
  md:block;
}

.wrapInformationMobile {
  @apply mt-4
  block
  md:hidden;
}

.wrapDetails {
  @apply flex 
  gap-20
  
  items-center
  font-roboto
  text-size_20  
  font-weight_300
  leading-line_height_17;
}

.wrapPrice {
  @apply flex 
  gap-4
  lg:gap-16 
  justify-between
  items-center
  
  grow;
}

.totalSum {
  @apply font-weight_500;
}

.buttonDelete {
  @apply /* absolute top-0 right-2 */
  
  p-1;
}

.icon {
  @apply text-gray_our;
}

.buttonDelete:hover .icon {
  @apply text-blue_action;
}

.wrapCountProductMobile {
  @apply mt-6
  flex 
  justify-between
  md:hidden
  gap-6
  items-center;
}
