.titleSection {
  @apply font-robotoSerif
  text-size_28
  font-weight_500
  leading-line_height_17;
}

.wrapSwiper {
  @apply mt-3
  md:mt-6
  
  w-full 
  sm:max-w-screen-sm 
  md:max-w-screen-md 
  lg:max-w-[924px];
}
