.wrapOrder {
  @apply flex 
  justify-between 
  items-center
  text-black
  font-inter
  text-size_16
  font-weight_500
  leading-line_height_50;
}

.wrapLeft {
  @apply flex 
  flex-col
  md:flex-row
  justify-between 
  items-center

  gap-3
  md:gap-10
  lg:gap-64;
}

.titleSumma {
  @apply text-gray_our
  mb-2;
}
