.wrapWindow {
  @apply pt-20 
  pb-10
  px-20
  flex 
  flex-col
  items-center
  bg-dark_blue;
}
.wrapMessage {
  @apply w-[419px]
  h-[222px]
  flex 
  justify-center 
  items-center
  font-roboto
  text-size_20
  font-weight_400
  leading-line_height_25;
}

.button {
  @apply px-8
  py-3
  mt-10
  rounded-lg 
  w-fit
  bg-blue_action
  text-white  
  hover:bg-blue_action_button
  hover:shadow-gray-500/80
  hover:shadow-lg  
  transition
  font-inter
  text-size_18
  font-weight_300
  leading-line_height_21;
}
