.wrapTitle {
  @apply mt-6
  data-[is-first-section=true]:mt-0;
}

.wrapContent {
  @apply mt-3  
  data-[is-first-section=true]:mt-0
  
  font-inter
  text-size_16
  font-weight_400  
  leading-line_height_50;
}

.wrapContent ul {
  @apply list-none 
  flex 
  flex-col
  gap-3;
}

.wrapContent li {
  @apply flex
  gap-4
  items-center
  
  before:content-['']
  before:bg-cover  
  before:bg-[url('/images/dice_six.svg')]  
  before:w-6
  before:min-w-[24px]
  before:h-6
  before:min-h-[24px]
  before:block;

  /* &::before {
    background-image: url("/public/dice_six.svg");
  } */
}
