.wrapMain {
  @apply before:ml-auto
  before:mr-auto
  before:mb-6
  before:block
  before:w-[80%]
  before:h-3
  before:border-b
  before:border-gray_our
  font-inter 
  text-text_white
  text-size_16 
  font-weight_300 
  leading-line_height_50;
}

.wrapDevelopers {
  @apply flex flex-col
  gap-3
  items-baseline
  pr-48;
}

.wrapInformation {
  @apply flex gap-2  items-center;
}

.link {
  @apply flex gap-2  items-center
  hover:text-blue_action;
}

.author {
  @apply font-inter 
  text-text_white
  text-size_16 
  font-weight_700 
  leading-line_height_15;
}

.link:hover .author {
  @apply text-blue_action;
}

/* .link:hover img {
  @apply shadow-lg;
} */
