.wrapMain {
  @apply before:ml-auto
  before:mr-auto
  
  before:block
  w-full
  md:before:w-[80%]
  before:h-3
  before:border-b
  before:border-gray_our
  
  text-text_white
  font-inter 
  text-size_12 
  font-weight_300 
  leading-line_height_50;
}

.wrapDevelopers {
  @apply flex 
  mt-8
  gap-2
  items-center;
}

.wrapInformation {
  @apply flex gap-2  items-center;
}

.link {
  @apply flex 
  gap-2  
  items-center
  transition
  hover:text-blue_action;
}

.author {
  @apply font-inter 
  text-text_white
  text-size_16 
  font-weight_700 
  leading-line_height_15;
}

.link:hover .author {
  @apply text-blue_action;
}

/* .link:hover img {
  @apply shadow-lg;
} */
