.wrapComponent {
  @apply flex flex-col w-[704px]
  px-12 py-12;
}

.title {
  @apply font-robotoSerif
  text-size_32 
  font-weight_500
  leading-line_height_17;
}

.titleSelected {
  @apply font-weight_600;
}

.form {
  @apply flex flex-col gap-4 mt-4;
}

.wrapRating {
  @apply w-28;
}

.wrapField {
  @apply flex flex-col gap-2;
}

.field {
  @apply ml-3;
}

.fieldTextArea {
  @apply ml-3 h-52;
}

.lineContacts {
  @apply flex gap-9;
}

.wrapButton {
  @apply flex justify-end gap-20;
}

.button {
  @apply px-4 py-4 
  w-full
  border 
  rounded-lg
  font-inter
  text-size_18
  font-weight_500
  leading-line_height_21
  transition
  bg-blue_action
  text-white
  hover:bg-blue_action_button
  hover:shadow-lg;
}

/* .button:hover {
  @apply shadow-lg shadow-gray-500/80;
} */

.buttonWhite {
  @apply px-4 py-4 
  w-full
  border 
  rounded-lg
  font-inter
  text-size_18
  font-weight_300
  leading-line_height_21
  transition
  hover:text-blue_action_button
  hover:border-blue_action
  hover:shadow-lg;
}

.icon {
  @apply w-12 h-12;
}
