.wrapComponent {
  @apply flex 
  flex-col 
  max-w-[358px]
  md:max-w-[704px]
  px-2
  md:px-12 
  py-12
  max-h-screen
  overflow-y-scroll;
}

.title {
  @apply font-robotoSerif
  text-size_20
  md:text-size_32 
  font-weight_400
  md:font-weight_500
  leading-line_height_21
  md:leading-line_height_17;
}

.titleSelected {
  @apply font-weight_600;
}

.form {
  @apply flex flex-col gap-4 
  mt-2
  md:mt-4;
}

.wrapRating {
  @apply w-full;
}

.wrapField {
  @apply flex flex-col gap-2;
}

.field {
  @apply ml-3;
}

.fieldTextArea {
  @apply ml-3 h-52;
}

.lineContacts {
  @apply flex 
  flex-col
  md:flex-row
  gap-4 
  md:gap-9;
}

.wrapButton {
  @apply flex 
  flex-col-reverse
  md:flex-row
  md:justify-end 
  mt-6
  md:mt-0
  gap-6
  md:gap-20;
}

.button {
  @apply px-4 py-4 
  w-full
  border 
  rounded-lg
  font-inter
  text-size_18
  font-weight_500
  leading-line_height_21
  transition
  bg-blue_action
  text-white
  hover:bg-blue_action_button
  /* hover:shadow-lg; */;
}

/* .button:hover {
  @apply shadow-lg shadow-gray-500/80;
} */

.buttonWhite {
  @apply px-4 py-4 
  w-full
  border 
  rounded-lg
  font-inter
  text-size_18
  font-weight_300
  leading-line_height_21
  transition
  hover:text-blue_action_button
  hover:border-blue_action
  /* hover:shadow-lg; */;
}

.icon {
  @apply min-w-[24px]
  min-h-[24px]
  mr-8
  md:min-w-[48px]
  md:min-h-[48px]
  md:mr-12;
}
