.form {
  @apply max-w-[402px] 
  flex 
  flex-col 

  text-text_white
  text-size_16 
  font-weight_300 
  leading-line_height_15
  md:m-auto
  lg:m-0;
}

.label {
  @apply font-inter
  text-size_13
  font-weight_600
  leading-line_height_40;
}

.input {
  @apply mt-2
  p-[17px]
  text-text_white
  font-inter
  text-size_14 
  font-weight_500 
  leading-line_height_21
  placeholder:text-gray_our
   bg-inherit 
  
  border
  rounded-lg
  border-text_white;
}

.button {
  @apply mt-4
  rounded-lg 
  w-full 
  p-4
 
  font-inter
  text-size_18
  font-weight_500 
  leading-line_height_21
  transition;
}

.form .button {
  @apply bg-blue_action
  hover:bg-blue_action_button
  /* hover:shadow-gray-500/80
  hover:shadow-lg; */;
}
