.form {
  @apply max-w-[402px] flex flex-col gap-6
    text-text_white
  text-size_16 
  font-weight_300 
  leading-line_height_15;
}

.input {
  @apply p-4
  text-black
  font-inter
  text-size_16 
  font-weight_500 
  leading-line_height_24
  placeholder:text-gray_our;
}

.button {
  @apply rounded-lg 
  w-full 
  p-4
 
  font-inter
  text-size_18
  font-weight_500 
  leading-line_height_20
  transition;
}
.form .button {
  @apply bg-blue_action
  hover:bg-blue_action_button
  hover:shadow-gray-500/80
  hover:shadow-lg;
}
