.wrapPage {
  @apply w-full flex gap-6;
}

.wrapFilter {
  @apply hidden
  lg:block
  w-[292px]
  min-w-[292px];
}

.wrapContent {
  @apply flex-grow;
}

.wrapSection {
  @apply mt-12;
}

.wrapBreadcrumb {
  @apply mb-4;
}

.wrapPagination {
  @apply hidden
  md:block
  mt-8;
}

.wrapLoadMore {
  @apply block 
  md:hidden
  mt-5;
}
