.wrapContent {
  @apply mt-6
  md:mt-12 
  flex 
  flex-col 
  gap-8 
  items-center;
}

.wrapVideo {
  @apply /* max-w-[384px] */
  max-w-[100%]
  max-h-[216px]
  md:max-w-[728px]
  md:max-h-[407px]
  lg:w-[853px];
  /* 0.56 */
}
