.listPage {
  @apply flex flex-col gap-3 
  w-full
  md:w-[226px];
}

.elementList {
  /* @apply p-2; */
}

.link {
  @apply flex
  gap-3
  h-full
  w-full
  p-2  
  text-black
  font-inter
  text-size_18
  font-weight_400
  leading-line_height_21

  border
  rounded-lg
  border-light_blue
  hover:bg-light_blue
  focus:bg-light_blue
  
  /* hover:shadow-lg */
  transition 
  data-[active=true]:bg-light_blue
  data-[active=true]:hover:bg-light_blue;
}
