.listPage {
  @apply flex flex-col gap-3 w-[226px];
}

.elementList {
  /* @apply p-2; */
}

.link {
  @apply flex
  gap-3
  h-full
  w-full
  p-2  
  text-black
  font-inter
  text-size_18
  font-weight_400
  leading-line_height_21

  border
  rounded-lg
  border-dark_blue
  hover:text-blue_action_button
  hover:border-blue_action_button
  focus:text-blue_action_button
  focus:border-blue_action_button
  hover:shadow-lg
  transition 
  data-[active=true]:bg-light_blue
  data-[active=true]:hover:bg-light_blue;
}
