.wrapSwiper {
  @apply w-full 
  sm:max-w-screen-sm 
  md:max-w-screen-md 
  lg:max-w-[924px]
  mt-4;
}

.elementCard {
  @apply w-[292px] block;
}

.wrapButton {
  @apply flex gap-6 mt-8 justify-center;
}

.buttonPrev {
  @apply bg-slate-400;
}

.buttonNext {
  @apply bg-slate-400;
}
