.wrapSwiper {
  @apply w-full 
    overflow-x-hidden
    md:overflow-x-visible
  
   /* overflow-x-hidden; */;
}

.elementCard {
  @apply block max-w-full;
}

.wrapButton {
  @apply hidden
  md:flex 
  gap-6 
  mt-4 
  justify-center
  text-gray_our;
}

.buttonPrevNext {
  @apply cursor-pointer
  hover:text-blue_action;
}
