/* .wrapSwiper {
  @apply w-full 
  sm:max-w-screen-sm 
  md:max-w-screen-md 
  lg:max-w-[924px]
  mt-4;
} */

.wrapSwiper {
  @apply w-full 
  overflow-x-hidden
  p-2;
}

.elementCard {
  @apply block;
}

.wrapButton {
  @apply flex 
  gap-6 
  mt-4 
  justify-center
  text-gray_our;
}

.buttonPrevNext {
  @apply cursor-pointer
  hover:text-blue_action;
}
