/* Large image */
.mySwiperProduct.swiper {
  height: 100%;
  width: 100%;

  box-sizing: border-box;
  overflow: visible;
  /* overflow-x: clip;
  overflow-y: visible; */
}

.mySwiperProduct .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* width: 100%; */
  width: 25%;

  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.mySwiperProduct .swiper-pagination {
  position: relative;
  margin-top: 24px;
}
