.reply {
  @apply relative
  flex 
  gap-3
  items-start
  md:gap-6
  
  p-3
  lg:p-6

  w-full
  font-inter 
  text-size_14
  font-weight_300
  leading-line_height_29
  
  border
  rounded-lg

  bg-blue_100
  border-blue_100;
}

.wrapImgPerson {
  @apply rounded-[50%]
  overflow-hidden
  w-11
  h-11
  md:w-8
  md:h-8;
}

.image {
  @apply block
  border
  rounded-lg
  border-blue_100
  w-11
  h-11
  md:w-8
  md:h-8;
}

.icon {
  @apply absolute top-0 
  -left-8
  md:-left-12;
}

.wrapUser {
  @apply flex 
  flex-col   
  items-start

  lg:w-[116px] 
  lg:min-w-[116px];
}

.userName {
  @apply block 
  w-full   
  overflow-hidden
  
  mt-1
  md:mt-2
  
  font-inter 
  text-size_12 
  font-weight_400 
  leading-line_height_30;
}

.data {
  @apply mt-2
  font-roboto
  text-size_12 
  font-weight_300
  leading-line_height_30;
}

.content {
  @apply text-left
  w-full
  font-inter 
  text-size_14 
  font-weight_300 
  leading-line_height_30;
}
