.wrapFooter {
  @apply py-10 

  text-text_white

  font-inter
  text-size_16
  font-weight_300
  leading-line_height_50;
}

.wrapTopRow {
  @apply flex 
  lg:flex-row
  flex-col-reverse
  gap-6
  md:gap-10
  justify-between w-full;
}
.wrapInformation {
  @apply flex justify-between
  md:gap-36;
}

.wrapNavigate {
  @apply hidden 
  md:block;
}

.wrapDevelopers {
  @apply hidden
  md:block
  
  mt-8
  
  text-left;
}
