.wrapNav {
  @apply py-4 border-b-2 shadow-lg;
}

.listNav {
  @apply flex flex-wrap gap-2 justify-between;
}

.elementNav {
  @apply block 
  px-4 
  py-2
  font-medium
  rounded-lg
  border-2
  transition
  
   hover:bg-indigo-400
   focus:bg-indigo-400
   
   focus:text-gray-100
   hover:text-gray-100
   
   data-[active=true]:bg-indigo-500;
}
.elementNav .active {
  @apply bg-orange-300;
}
